@use "../../../../styles.scss" as *;

.card {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: float 3s ease-in-out infinite;
  animation-delay: 0s;
  cursor: pointer;
}
.card:hover {
  animation: none;
  background-color: var(--color-primary-light);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
