<header class="header-container">
  <nav class="menu-item">
    @for (navSection of this.navigationSections; track $index) {
      <a [routerLink]="navSection.route" [fragment]="navSection.id"  [ngClass]="{'active': this.fragment() === navSection.id}">{{navSection.label | translate}}</a>
    }
  </nav>
  <nav class="menu-item-reduced">
    @for (navSection of this.navigationSections; track $index) {
      <a [routerLink]="navSection.route" [fragment]="navSection.id" [ngClass]="{'active': this.fragment() === navSection.id}"><i class="pi" [ngClass]="navSection.icon"></i></a>
    }
  </nav>
</header>
