.home-component{
  height: 100vh;
  //TO-DO Hacer que cambie dependiendo de la estacion
  background-image: url('../../../../assets/images/Bosque1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
