<div class="home-component">
  <img class="background" src="../../../../assets/images/Bosque1.jpeg" alt="Background photo of a green forest"/>
    <div class="home-card" @cardAnimation>
      <div class="home-card-content">
        <h1 class="name">Mario</h1>
        <h1 class="surname">DOMÍNGUEZ GARCÍA</h1>
        <p class="description">FullStack Developer</p>
        <div class="section-button">
            <button (click)="navigateTo($event, 'resume')">
            {{ 'header.buttons.resume' | translate }}
            </button>
            <button (click)="navigateTo($event, 'projects')">
            {{ 'header.buttons.projects' | translate }}
            </button>
        </div>
        <div class="section-gradient-bar">
          <div class="gradient-bar"></div>
          <div class="gradient-bar reverse"></div>
        </div>
      </div>
    </div>
    @if (!this.showScrollDown()) {
      <div class="scroll-down">
        Scroll Down
        <i class="pi pi-chevron-down"></i>
      </div>
    }
</div>
