<div class="resume-component">
  <div class="text">
    <h1>
      Technologies
      <br>
      <small>
        <span></span>
        <div class="blink-bar"></div>
      </small>
    </h1>
  </div>
  <div class="cards-container">
    @for (card of this.cards; track $index) {
        <portfolio-card class="portfolioCard" [ngClass]="card.id" [id]="card.id" [alt]="card.alt" [delay]="$index"/>
      }
  </div>
  <!-- <portfolio-dialog data-flip-id="card"  [ngClass]="this.visible()? '' : 'dialog'" [visible]="this.visible()" [card]="this.card()" (onSetVisible)="this.updateVisibility($event)"/> -->
</div>
