@use "../../../../styles.scss" as *;

.resume-component {
  min-height: 100vh;
  position: relative;
  background-color: $color-primary;
  overflow: hidden;
  .text{
    color: white;
    width: 100vw;
    min-height: 20rem;
    //position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    h1 {
      left: 50%;
      width: 35rem;
      span {
          color: $color-secondary;
          border-right: solid 3px $color-secondary;
          animation:
          blink 1s steps(1) infinite;
        }
    }
  }
.cards-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  //position: absolute;
  top: 50%;
  width: 100vw;
  height: fit-content;
  img{
    position: absolute;
    top: -6rem;
    animation: increment 5s ease-in-out infinite;
  }
}
}
@media (max-width: 576px) {
  .resume-component {
  .cards-container{
    padding: 0;
    margin-top: 4rem;
    img{
      top: -10rem !important;
    }
  }
}
}

@keyframes blink {
  from {border-color: transparent;}
  50% {border-color: $color-secondary;}
  to {background-color: $color-secondary;}

}

@keyframes increment {
  0% {
    transform: translate(-10%, 0%) rotate(350deg) scale(1) ;
  }
  50% {
    transform: translate(-10%, 0%) rotate(350deg) scale(1.2) ;
  }
  100% {
    transform: translate(-10%, 0%) rotate(350deg) scale(1) ;
  }
}


