@use "../../../../styles.scss" as *;

.resume-component {
  min-height: 100vh;
  position: relative;
  background-color: $color-primary;
  overflow: hidden;
  .text{
    color: white;
    width: 100vw;
    min-height: 20rem;
    //position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    h1 span {
      color: $color-secondary;
      border-right: solid 3px $color-secondary;
      animation:
      blink 1s steps(1) infinite;
    }
  }
.cards-container{
  //position: absolute;
  top: 50%;
  width: 100vw;
  height: fit-content;
  .card-skeleton{
    width: 8rem;
    height: 8rem;
  }
}

.dialog{
  border: dashed 1px $color-secondary;
  position: absolute;
  height: 60rem;
  width: 50rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
}

@keyframes blink {
  from {border-color: transparent;}
  50% {border-color: $color-secondary;}
  to {background-color: $color-secondary;}

}



