<div class="about-component">
  <div class="timeline">
    <div class="holder">
      <div class="container left-container box" [ngClass]="inView()[0] ? '':'opacity-0'" [@moveline]="inView()[0] ? 'visible' : 'hidden'">
        <img src="" alt="">
        <p-card header="aaa" class="card" [ngClass]="isCardVisible()[0] === 'hidden'? 'opacity-0':''"  [@slideLeft]="isCardVisible()[0]">
          hgfdhgfdhgfd
        </p-card>
      </div>
    </div>
    <div class="holder">
      <div class="container right-container box" [ngClass]="inView()[1] ? '':'opacity-0'" [@moveline]="inView()[1] ? 'visible' : 'hidden'" >
        <img src="" alt="">
        <p-card header="aaa" class="card" [ngClass]="isCardVisible()[1] === 'hidden'? 'opacity-0':''"  [@slideRight]="isCardVisible()[1]">
          hgfhgfdhgfdhgfd
        </p-card>
      </div>
    </div>
    <div class="holder">
      <div class="container left-container box" [ngClass]="inView()[2] ? '':'opacity-0'" [@moveline]="inView()[2] ? 'visible' : 'hidden'">
        <img src="" alt="">
        <p-card header="aaa" class="card" [ngClass]="isCardVisible()[2] === 'hidden'? 'opacity-0':''"  [@slideLeft]="isCardVisible()[2]">
          hgfdhgfdhgfd
        </p-card>
      </div>
    </div>
    <div class="holder">
      <div class="container right-container box" [ngClass]="inView()[3] ? '':'opacity-0'" [@moveline]="inView()[3] ? 'visible' : 'hidden'" >
        <img src="" alt="">
        <p-card header="aaa" class="card" [ngClass]="isCardVisible()[3] === 'hidden'? 'opacity-0':''"  [@slideRight]="isCardVisible()[3]">
          hgfhgfdhgfdhgfd
        </p-card>
      </div>
    </div>
<div class="flex justify-content-center">

  <p class="mt-0">Future</p>
</div>
  </div>
</div>
