<div class="relative">
  <div class="grid sm:px-5 sm:pt-0 pb-0 mt-0 mx-0" id="menubar">
      <div class="col-12 sm:col-6 flex sm:justify-content-start justify-content-center align-items-center">
        <img src="assets/Logo_MDG_HD.png" alt="Personal Logo" id="menubar_img">
      </div>
      <div class="col-12 sm:col-6 flex align-items-center sm:justify-content-end justify-content-center flex-wrap">
        <div class="grid">
          <p-button label="Home" [rounded]="true" size="small" styleClass="menubar_button" class="col-12 sm:col-3" ></p-button>
          <p-button label="Plain" [rounded]="true" [text]="true" [plain]="true" size="small" class="col-12 sm:col-3"></p-button>
          <p-button label="Plain" [rounded]="true" [text]="true" [plain]="true" size="small" class="col-12 sm:col-3"></p-button>
          <p-button label="Plain" [rounded]="true" [text]="true" [plain]="true" size="small" class="col-12 sm:col-3"></p-button>
        </div>
      </div>
      <hr class="sm:mx-0 mx-5"/>
  </div>
</div>

