<div class="relative" id="home_box">
  <div class="grid grid-nogutter" id="home_content">

      <div class="flex flex-row align-items-center w-full my-auto flex-wrap" id="home_blur">
        <div class="col-12 sm:col-5">
          <img src="../../../../assets/Foto_Principal.png" alt="Foto en la playa" id="home_photo">
        </div>
        <div class="col-12 sm:col-7 h-full" id="home_intro">
          <h1>{{'home.header'| translate}}</h1>
          <hr>
          <p>{{'home.text'| translate}}</p>
          <button>More about me</button>
          Logo linkedin, correo e infojobs
        </div>
      </div>

  </div>
</div>
