<dialog (cancel)="this.closeModal()">
  <button class="close-button" (click)="closeModal()">
    <span class="pi pi-times"></span>
  </button>
  @if (this.cardId() === "Angular") {
  <div class="image-section">
    <img width="100" height="100" [src]="'../../../../assets/svg/' + this.card().id.toLowerCase() + '-icon.svg'" [alt]="this.card().alt"/>
  </div>
  <span class="experience-section">{{ this.card().experience| translate | timeGap }}</span>
  <h4>{{ this.card().information.concat(".versions") | translate }}</h4>
  <div class="content-section">
    <div class="chip">
      <img [src]="'../../../../assets/svg/html.svg'" alt="HTML logo"/>
      HTML</div>
      <div class="chip">
      <img [src]="'../../../../assets/svg/css.svg'" alt="CSS logo"/>
      CSS
    </div>
    <div class="chip">
      <img [src]="'../../../../assets/svg/typescript.svg'" alt="Typescript logo"/>
      Typescript
    </div>
    <form class="form-input" [formGroup]="this.form">
      <div class="input-wrapper">
          <i class="pi pi-search"></i>
          <input type="text" formControlName="searchInput" placeholder="Search..." />
      </div>
    </form>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.basics') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".basics.list") |
      translate).split(","); track $index) {
      @if (item.toLowerCase().includes(this.inputSignal().trim())) {
        <div class="chip chip-1">{{ item }}</div>
      }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
     {{this.card().information.concat('.advanced') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".advanced.list") |
      translate).split(","); track $index) {
      @if (item.toLowerCase().includes(this.inputSignal().trim())) {
        <div class="chip chip-2">{{ item }}</div>
      }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.libraries') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".libraries.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-3">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.others') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".others.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-4">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="certificate-section">
    <h3>{{'resume.card.common.certificates' | translate }}</h3>
    <img src="../../../../assets/images/certificates/CertificadoAngularUdemy.jpg" alt="Angular Udemy Certificate">
  </div>
  }
  @if (this.card().id === "Docker") {
  <div class="image-section">
    <img width="100" height="100" [src]="'../../../../assets/svg/' + this.card().id.toLowerCase() + '-icon.svg'" [alt]="this.card().alt"/>
  </div>
  <span class="experience-section">{{this.card().experience| translate | timeGap}}</span>
  <h4>{{this.card().information.concat(".versions") | translate}}</h4>
  <div class="content-section">
    <div class="chip">
      <img [src]="'../../../../assets/svg/yaml.svg'" alt="YAML logo"/>
      YAML
    </div>
    <form class="form-input" [formGroup]="this.form">
      <div class="input-wrapper">
          <i class="pi pi-search"></i>
          <input type="text" formControlName="searchInput" placeholder="Search..." />
      </div>
    </form>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.basics') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".basics.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-1">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.advanced') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".advanced.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-2">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.others') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".others.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-4">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="certificate-section">
    <h3>{{'resume.card.common.certificates' | translate }}</h3>
    <img src="../../../../assets/images/certificates/CertificadoDockerUdemy.jpg" alt="Docker Udemy Certificate">
  </div>
  }
  @if (this.card().id === "GitHub") {
  <div class="image-section">
    <img width="100" height="100" [src]="'../../../../assets/svg/' + this.card().id.toLowerCase() + '-icon.svg'" [alt]="this.card().alt"/>
  </div>
  <span class="experience-section">{{this.card().experience| translate | timeGap}}</span>
  <h4>{{this.card().information.concat(".versions") | translate}}</h4>
  <div class="content-section">
    <div class="chip">
      <img [src]="'../../../../assets/svg/git.svg'" alt="Git logo"/>
      Git
    </div>
    <form class="form-input" [formGroup]="this.form">
      <div class="input-wrapper">
          <i class="pi pi-search"></i>
          <input type="text" formControlName="searchInput" placeholder="Search..." />
      </div>
    </form>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.basics') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".basics.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-1">{{ item }}</div>
        }
      }
    </div>
  </div>
  <div class="fieldset">
    <div class="fieldset-header">
      {{this.card().information.concat('.advanced') | translate}}
    </div>
    <div class="fieldset-content">
      @for (item of (this.card().information.concat(".advanced.list") | translate).split(","); track $index) {
        @if (item.toLowerCase().includes(this.inputSignal().trim())) {
          <div class="chip chip-2">{{ item }}</div>
        }
      }
    </div>
  </div>
  }
  @if (this.card().id === "MongoDB") {
    <div class="image-section">
      <img width="100" height="100" [src]="'../../../../assets/svg/' + this.card().id.toLowerCase() + '-icon.svg'" [alt]="this.card().alt"/>
    </div>
    <span class="experience-section">{{this.card().experience| translate | timeGap}}</span>
    <h4>{{this.card().information.concat(".versions") | translate}}</h4>
    <div class="content-section">
      <div class="chip">
        <img [src]="'../../../../assets/svg/sql.svg'" alt="SQL logo"/>
        SQL
      </div>
      <form class="form-input" [formGroup]="this.form">
        <div class="input-wrapper">
            <i class="pi pi-search"></i>
            <input type="text" formControlName="searchInput" placeholder="Search..." />
        </div>
      </form>
    </div>
    <div class="fieldset">
      <div class="fieldset-header">
        {{this.card().information.concat('.basics') | translate}}
      </div>
      <div class="fieldset-content">
        @for (item of (this.card().information.concat(".basics.list") | translate).split(","); track $index) {
          @if (item.toLowerCase().includes(this.inputSignal().trim())) {
            <div class="chip chip-1">{{ item }}</div>
          }
        }
      </div>
    </div>
    <div class="fieldset">
      <div class="fieldset-header">
        {{this.card().information.concat('.advanced') | translate}}
      </div>
      <div class="fieldset-content">
        @for (item of (this.card().information.concat(".advanced.list") | translate).split(","); track $index) {
          @if (item.toLowerCase().includes(this.inputSignal().trim())) {
            <div class="chip chip-2">{{ item }}</div>
          }
        }
      </div>
    </div>
    <div class="fieldset">
      <div class="fieldset-header">
        {{this.card().information.concat('.others') | translate}}
      </div>
      <div class="fieldset-content">
        @for (item of (this.card().information.concat(".others.list") | translate).split(","); track $index) {
          @if (item.toLowerCase().includes(this.inputSignal().trim())) {
            <div class="chip chip-4">{{ item }}</div>
          }
        }
      </div>
    </div>
    <div class="certificate-section">
      <h3>{{'resume.card.common.certificates' | translate }}</h3>
      <img src="../../../../assets/images/certificates/CertificadoMongoDBUdemy.jpg" alt="Docker Udemy Certificate">
    </div>
  }
</dialog>
