/* You can add global styles to this file, and also import other style files */


//Application Color Vars
$color-primary: #D3D0CB;
$color-secondary: #393E41;
$color-button: #e2c044;
$color-button-blue: #3d8bfd;
$color-button-hover: #e2c044;
$color-button-background: #081b29;


//Global Body 0 Margin
body {
  margin : 0;
  min-width: 350px;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}
