<div class="relative" id="skills_box">
  <div class="grid grid-nogutter" id="skills_content">
    <div class="flex align-items-center w-full">

      <div class="card carousel w-full">
        <p-carousel class="h-full" [value]="[{'a':1},{'a':2},{'a':3}]" [numVisible]="1" [numScroll]="1" [circular]="true">
          <ng-template let-product pTemplate="item">
            <div class="carousel_container">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex reprehenderit at, ducimus tempora dolore ipsa sapiente. Nihil facilis, tempore suscipit debitis aperiam iure dolor minus laborum ducimus natus nam id!
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
