<div class="relative" id="skills_box">
  <div class="grid grid-nogutter" id="skills_content">
    <div class="flex align-items-center w-full">

      <div class="card carousel w-full">
        <p-carousel class="h-full" [value]="[{'a':1},{'a':2},{'a':3}]" [numVisible]="1" [numScroll]="1" [circular]="true">
          <ng-template let-product pTemplate="item">
            <div class="carousel_container">
              <div class="flex flex-row carousel_header">
                Header
              </div>
              <div class="grid h-full carousel_box">
                <div class="flex col-3 align-items-center justify-content-center">
                  <div class="carousel_logo_box">

                    <img class="carousel_logo" src="../../../../assets/Technologies/Java_Blue_Logo.png">
                  </div>
                </div>
                <div class="col-9 careousel_content">
                  Content
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
